/*
TAG Selectors: <whatever is here>
CLASS selectors: it's called with a . (dot)
    multiple html elements can use the same class
ID selectors: it's called with a # (hasthag-pound)
    only one element per html sheet can use the specific ID
Pseudi class can be called with :
*/

body {
  background-color: #f5efe6;
}

h1, h3 {
    color: #7895B2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #aebdca;
  border-width: 5px;
  width: 5%;
}

img {
  height: 50%;
  width: 50%;
}

.circular{
    border-radius: 100%;
}

img, h3:hover{
    background-color: gold;
}